html{
    background-color: rgb(31, 69, 102);
}

body{
    background-color: navajowhite;
    margin-top: 5%;
    padding-bottom: 15%;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

input {
    outline: none;
    font-size: 50%;
    width: 15%;
    height: 15%; 
    border-radius: 1%;
}

input:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#calculadora {
    background:#777;
    padding: 5%;
    border-radius: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

  #calculadora .fila{
    display:table-row;
    background:#777;
    color:#eee;
    font-weight:bold;
    width:50%;
    text-shadow:1% 1% 4% #999;
}
#calculadora .fila div{
    display:table-cell;
    font-size:200%;
    padding-bottom:5%;
    width:14%;
}
#calculadora .contenedor .divisor{
    width:5%;
    color:#ddd;
}

textarea{
    padding-right: 15px;
    padding-left: 15px;
    border-top: 5px inset lightgreen;
    border-bottom: 5px inset grey;
    border-right: 5px inset grey;
    border-left: 5px inset lightgreen;
    font-family: fuenteCalculadora;
    font-size: 35px;
    text-align: right;
    resize: none;
    background-color: lightgreen;
    height: 45px;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



h1{
    color: rgb(31, 69, 102);
    margin-top: 15px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color : navajowhite;
}

@font-face{
    font-family: fuenteCalculadora;
    src: url(display/digital-7.ttf);
}

