body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color: #818181;
      background-color: #fff;
      margin-top: 40px;
      margin-bottom: 100px;
      margin-right: 50px;
      margin-left: 80px;
      border: 80px;
      border-color:red;
  }
h1 {
      background-color:#FF5733; 
      color: #fff;
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;     
  }
h2 {
      background-color:#FF5733; 
      color: #fff;
      text-transform: uppercase;
      padding: 10px 25px;
      text-align: left;     
}
h3{
    background-color:#fff; 
      color: #FF5733;
      text-transform: uppercase;
      padding: 10px 25px;
      text-align: left; 
}
a:link{
      color: cadetblue;
      font-style: italic !important ;  
}

a:visited {
    color: rebeccapurple;
    font-style: italic !important ;  
}

p:nth-child(4){
      font-style: italic !important ;  
}

img{
<<<<<<< HEAD
  display: block;
=======
    display: block;
>>>>>>> 535f9fc0812f1c416ec3ec3ced720981a7809ecc
    margin-left: auto;
    margin-right: auto;
}

<<<<<<< HEAD

=======
>>>>>>> 535f9fc0812f1c416ec3ec3ced720981a7809ecc
audio{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-color: red;
  border: 80px;
}
<<<<<<< HEAD
ol{
  font-weight: bold;
=======

ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

ol > li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
>>>>>>> 535f9fc0812f1c416ec3ec3ced720981a7809ecc
}

dt{
  font-weight: bold;
}

p {
      background-color: #fff  ;
      
}
h2+p{color:red;}