body {
      font: 400 15px Tahoma,sans-serif; /*Familia sans-serif;*/
      line-height: 1.8;
      color: #818181;
      /*background-color: #f6f6f6;*/
      background-image: url("img/background-dark.jpg");
      margin-left: 20px;
      margin-right: 10px;
      margin-top: 20px;
      margin-bottom: 30px;
  }
h1 {
      background-color:#33FFCC; 
      color: #818181;
      text-transform: uppercase;
      padding: 50px 25px;
      text-align: center;
      border-radius: 35px;     
  }

h2{
  background-color:#33FFCC; 
  color: #818181;
  padding: 15px;
  border-radius: 50px;  
}

p{
  color: white;
}

ul{
  color: white;
}

ul>li:t