body {
      /*font: 400 15px Tahoma,sans-serif; Familia sans-serif;*/
      font: 400 15px Verdana, Geneva, sans-serif;
      line-height: 1.8;
      /*background-color: #f6f6f6;*/
      background-image: url("https://unioviedo-my.sharepoint.com/personal/uo251005_uniovi_es/_layouts/15/guestaccess.aspx?docid=088e874a56a684ee984ae3daba04abc11&authkey=AepD0KQDJLKosdJhSvDpk5Y&e=549a1f5500c14379855d81a727d9aecd");
      background-attachment: fixed;
      background-position: initial; 
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 50px;
      margin-right: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
      color: white;
  }

h2+img{
  height: 15%;
  width: 15%;
  border: 3px solid #33FFCC;
}
/*https://www.w3schools.com/css/css3_mediaqueries_ex.asp_*/

 table {
   width: 500px;
  border: 3px solid #33FFCC;
  border-radius: 50px;
}

img{
    background-image: url("https://unioviedo-my.sharepoint.com/personal/uo251005_uniovi_es/_layouts/15/guestaccess.aspx?docid=00e904e31a992402f8402094e93aadf05&authkey=AeAOYGlS9b47KdMOZPg1jVQ&e=626ad46497804d3e8d64a60300a08ce0");
    padding: 20px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
      background-color:#33FFCC; 
      color: #37474F;
      text-transform: uppercase;
      padding: 30px 25px;
      text-align: center;
      border-radius: 35px;
  }
h2{
  background-color:#33FFCC; 
  color: #37474F;
  padding: 4px;
  border-radius: 15px;
  margin-right: 25%;
}
h3{
  color: #33FFCC; 
  padding: 15px;
}
table {  
  border-radius: 15px;
  background-image: url("https://unioviedo-my.sharepoint.com/personal/uo251005_uniovi_es/_layouts/15/guestaccess.aspx?docid=00e904e31a992402f8402094e93aadf05&authkey=AeAOYGlS9b47KdMOZPg1jVQ&e=626ad46497804d3e8d64a60300a08ce0");
}
th{
  color: white;
  text-transform: uppercase;
}
a:link{
  color: #33FFCC;
}
p a:visited{
  color: white;
}

table a:visited{
  color: white;
}

dl a:visited{
  color: white;
}

h2+ul>li>a:visited{
    color: white;
}
footer>a>img{
  background-image: none;
  padding: 0px;
  display: initial;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33FFCC;
  color: #37474F;
  border-radius: 35px;
}

nav li {
  color: #37474F;
  float: left;
}

nav li a {
  color: #37474F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover{
  background-color: #37474F;;
  color: #33FFCC;
}

nav .active {
  background-color: #37474F;;
  color: #33FFCC;
}

footer{
  margin-top: 50px;
  text-align: center;
}
footer::after{
  content: "\A Copyright @Sergio Faya";
  white-space: pre;
  
}