
body{
    background-color: navajowhite;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
table {
    height:50px;
    width: 50px;    
}
/* = con eval
memoria en un atributo
m+
m-
mr muestra*/

form{
    width: 350px;
    height: 350px;
    background-color: grey;
}

input {
    width: 50px;
    height: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px; 
}
table tr:last-child>td:last-child>input{
    background-color: green;
}

table tr>td:last-child>input{
    background-color: red;
}

table tr:first-child > td:nth-child(1)>input{
    background-color: lightskyblue;
}

table tr:first-child > td:nth-child(2)>input{
    background-color: lightskyblue;
}
table tr:first-child > td:nth-child(3)>input{
    background-color: lightskyblue;
}
textarea{
    align-content: center;
    width: 300px;
    height: 50px;
    background-color:lightgreen;
    resize: none;
}

