
body{
    background-color: navajowhite;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}
table {
    
    height: 350px;
    width: 350px;    
    border-radius: 5px ;
    border: 100px;
}
/* = con eval
memoria en un atributo
m+
m-
mr muestra*/
input {
    width: 50px;
    height: 50px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px; 
}
table tr>td:last-child>input{
    background-color: red;
}

textarea{
    background-color: lightgreen;
}
h1{
    background-color : white; 
}
p{
    background-color: grey; 
}


